# Environnement virtuel
venv/
env/
.env

# Base de données
*.db
*.sqlite3

# Fichiers Python
__pycache__/
*.pyc
*.pyo

# Fichiers de logs
*.log

# Fichiers médias
media/
staticfiles/

# IDE
.vscode/
.idea/

# Fichiers sensibles
.env.local
.env.production